
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;  
}

a {
    text-decoration: none;
}

a:hover {
text-decoration: underline;
}

body {
   max-width: 100vw;
   overflow-x:hidden; 
}

p {
    line-height: 1.5;
}

.purple {
    color: #7342d6;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding: 0 24px;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type:none;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}


h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    text-align:center;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.nav__link {
    margin-left: 24px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}


.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: center;
    color: #7342d6
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1
}

.menu--open {
max-height: 100vh;
overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.btn__menu--close {
    position:absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* Landing */

#landing {
background-color: rgba(115, 66, 214, 0.1);
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin:0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    
}

.header__img--wrapper {
    padding: 20px;
    z-index: 3;
}

.container {
    padding: 56px 0;
}

.row {               
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}


/* Highlights */

#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    background: url(./assets-2/wave.svg); 
    content: "";
    position: absolute;
    left: 0;
    width:101vw;
    height:12vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
    display:flex;
}

.highlight {
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    flex-direction:column;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

.highlight__img {
    border: 2px solid #7342d64f;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

/* Features */

#features {
    background-color: rgba(115, 66, 214, 0.1);
    padding-top: 8vw;
}

.books {
    display: flex;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book:hover .book__img {
    transform: scale(1.03);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    margin-bottom: 8px;
    color: #fabf2a;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

.books{
    display: flex;
    flex-wrap: wrap;
}

/* Explore */

#explore {
    background-color:rgba(115, 66, 214, 0.1);
}

.explore__header--wrapper {
display: flex;
flex-direction: column;
align-items: center;
}

.no-cursor {
    cursor: not-allowed;
}

/* Footer */

footer {
    background-color: #242424;

}

footer .row {
display: flex;
flex-direction: column;
align-items: center;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: #fff;
    
}

.footer__list {
    margin: 20px 0;
}

.footer__logo {
    display: flex;
}

.footer__link {
    padding: 0 8px;
}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display:block;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .nav__links {
        display: none;
    }

    .book {
        width: 50%;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }

    .highlight__wrapper {
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
}